<tr>
    <td>
        <div class="cart-info">
            <a href="/products/<%= cartItem.product_id %>" class="pointer-link">
            <img class="me-2" src="/assets/images/shoes/<%= cartItem.product_id %> - <%= cartItem.color %>.png" alt="">
            </a>
            <div>
                <b><%= cartItem.product_name %></b>
                <br>
                <small>Price: R<%= cartItem.price %></small>
                <br>
                <small>Size: <%= cartItem.size %></small>
                <br>
                <a href="#" class="remove-product" data-product-id="<%= cartItem.product_id %>" data-entry-id="<%= cartItem.entry_id %>">Remove <i class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
    </td>
    <td>
        <input type="number" value="<%= cartItem.quantity %>" class="update-quantity" data-product-id="<%= cartItem.product_id %>" data-entry-id="<%= cartItem.entry_id %>">
    </td>
    <td>R <%= cartItem.price * cartItem.quantity %></td>
</tr>
