<div class="col-sm-6 col-lg-4 py-3 shoe-component"
    data-product-name="<%= shoe.product_name %>"
    data-size="<%= JSON.stringify(shoe.sizes) %>"
    data-color-names='[<%= shoe.colors.map(color => JSON.stringify(color.color_name)).join(', ') %>]'
    data-group-colors='[<%= shoe.colors.map(color => JSON.stringify(color.group_color)).join(', ') %>]'
    data-gender="<%= JSON.stringify(shoe.genders) %>"
    data-price="<%= shoe.price %>"
    data-category="<%= JSON.stringify(shoe.categories) %>">
    <div class="item-wrapper p-3 shadows">
        <a href="/products/<%= shoe.product_id %>" class="pointer-link">
            <img src="/assets/images/shoes/<%= shoe.product_id %> - <%= shoe.colors[0].color_name %>.png
            " alt="" class="g-image item-image">
        </a>
        <h5 class="pt-2"><%= shoe.product_name%></h5>
        <span class="fs-6 fw-bolder d-block pb-2">R<%= shoe.price%></span> 
        <span>Colours</span>
        <ul class="available-options-wrapper color-wrapper">
            <%shoe.colors.forEach((hex) => {%>
            <li class="image-color-changer" data-image="/assets/images/shoes/<%= shoe.product_id %> - <%= hex.color_name%>.png"
                 style="background-color: <%= hex.color_hex%>;">
            </li>
            <% }); %>               
        </ul>
        <span>Sizes</span>
        <ul class="available-options-wrapper sizes-wrapper">
            <% shoe.sizes.forEach((size) => { %>
                <li><%= size %></li>
            <% }); %>
        </ul>
    </div>
</div>