<%- include('partials/header') %>
<%- include('components/nav') %>

    <div class="container px-4 ">
        <table class="cart-table w-100">
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            <% let cartTotal = [] %>
            <% results.forEach(cartItem => { %>
                <%- include('components/cart-item', {cartItem: cartItem}) %>
                <% cartTotal.push(cartItem.price * cartItem.quantity) %>
            <% }) %>
              
        </table>


        <% if(results.length != 0){ %>
        <div class="totals-wrap d-flex justify-content-end">
            <table class="totals-table">
                <tr>
                    <td>Total</td>
                    <% let cartTotalSum = cartTotal.reduce((total, current) => total + current, 0); %>
                    <td>R <%= cartTotalSum %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="" class="btn btn-success">Check-Out <i class="fa-solid fa-cart-shopping"></i></a>
                    </td>
                </tr>
            </table>
        </div>
        <% }else{ %>
            <div class="no-purchase text-center">
                <h1 class="py-2">🥺</h1>
                <h3>You have no items in your cart. Start shopping to see your purchases.</h3>
            </div>
        <% } %>


    </div>

<%- include('partials/footer') %>