<%- include('partials/header') %>
<%- include('components/nav') %>

    <div class="container px-4">
        <div class="row">
            <%- include('components/cart-item',{lope:'1'}) %>
            <%- include('components/cart-item',{lope:'2'}) %>
            <%- include('components/cart-item',{lope:'3'}) %>
        </div>
        <div class="row">
            
        </div>
    </div>

<%- include('partials/footer') %>