<%- include('partials/header') %>
<%- include('components/nav') %>

<section>
    <div class="container">
        <div class="row">
            <%- include('components/category-item') %>
            <%- include('components/category-item') %>
            <%- include('components/category-item') %>
            <%- include('components/category-item') %>
            <%- include('components/category-item') %>
            <%- include('components/category-item') %>
            <%- include('components/category-item') %>
            <%- include('components/category-item') %>
            
        </div>
    </div>
</section>

<%- include('partials/footer') %>