<%- include('partials/header') %>
<%- include('components/nav') %>
<%- include('components/hero') %>

<section class="item-group">
    <div class="container py-3">
        <h1>Featured Items</h1>
        <div class="row">
            <% results.forEach((shoe) => { %>
               <% if(shoe.featured === 1){%>
                <%- include('components/item2', { shoe: shoe}) %>
               <%};%>
            <% }); %> 
        </div>
    </div>
</section>

<%- include('components/cta') %>

<section class="item-group slider">
    <div class="container py-3">
        <h1>New Items</h1>
        <div class="row_items p-3 gap-4">
            <!-- cards in here -->
            <% results.forEach((shoe) => { %>
                <% if(shoe.new === 1){%>
                    <%- include('components/item2', { shoe: shoe}) %>
                <%};%>
            <% }); %> 
        </div>
    </div>
</section>

<%- include('components/newsletter') %>

<%- include('partials/footer') %>
