<%- include('partials/header') %>
<%- include('components/nav') %>
<%- include('components/hero') %>

<section class="item-group">
    <div class="container py-3">
        <h1>Feautred Items</h1>
        <div class="row">
            <%- include('components/item') %>
            <%- include('components/item') %>
            <%- include('components/item') %>
            <%- include('components/item') %>

            <%- include('components/item') %>
            <%- include('components/item') %>
            <%- include('components/item') %>
            <%- include('components/item') %>
        </div>
    </div>
</section>

<%- include('components/cta') %>

<section class="item-group slider">
    <div class="container py-3">
        <h1>New Items</h1>
        <div class="row_items py-3">
            <!-- cards in here -->
            <%- include('components/rowItem') %>
            <%- include('components/rowItem') %>
            <%- include('components/rowItem') %>   
            <%- include('components/rowItem') %>
            <%- include('components/rowItem') %>
            <%- include('components/rowItem') %>
            <%- include('components/rowItem') %>
            <%- include('components/rowItem') %>
            <%- include('components/rowItem') %>
            <%- include('components/rowItem') %>
            <%- include('components/rowItem') %>
        </div>
    </div>
</section>

<%- include('components/newsletter') %>

<%- include('partials/footer') %>