<%- include('partials/header') %>
<%- include('components/nav') %>
<%- include('components/second-nav') %>

<section>
    <div class="container">
        <div class="row">
            <div class="py-3 d-flex d-md-none col-12 justify-content-around">
                <button class="btn btn-outline-dark sorting-buttons" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Filters</button>
                <%- include('components/sorting/sorting-dropdown') %>
                <%- include('components/offcanvas') %>
            </div>
        </div>
        <div class="row">
            <div class="d-none d-md-block col-md-3">
                <h2>Filters</h2>
                <%- include('components/filters') %>
            </div>
            <div class="col-md-9">
                <div class="row shoe-component-container">
                    <% results.forEach((shoe) => { %>
                        <%- include('components/item2', { shoe: shoe}) %>
                    <% }); %>               
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/filterSortSearch.js"></script>

<%- include('partials/footer') %>