<%- include('partials/header') %>
<%- include('components/nav') %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 product-areas p-3">
                <div class="row text-center">
                    <div class="col-12 m-auto">
                        <!-- <h1>Image content here</h1> -->
                        <img src="/assets/images/shoes/<%= shoe[0].product_id %> - <%= shoe[0].colors[0].color_name %>.png" alt="" class="big-product-image" />
                    </div>
                    <div class="col-12 m-auto">
                        <!-- <h1>Colour selectors here</h1> -->
                        <span>Colours</span>
                        <ul class="available-options-wrapper color-wrapper final-item-picker justify-content-center">
                            <%shoe[0].colors.forEach((hex) => {%>
                                <li style="background-color: <%= hex.color_hex%>;"></li>
                                <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 product-areas px-3">
                <h3><%= shoe[0].product_name%></h3>
                <h5>R <%= shoe[0].price%></h5>
                <hr>
                <p><%= shoe[0].product_description%></p>
                <form id="purchase-form" action="" method="post">
                    <div class="form-floating mb-4">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                          <option selected>Choose your colour</option>
                          <% shoe[0].colors.forEach((color)=> { %>
                            <%- include('components/indivisual-product-page/colour-option', {color : color.color_name}) %>
                          <% }); %>
                        </select>
                        <label for="floatingSelect">Colours</label>
                      </div>

                      <div class="form-floating mb-4">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                          <option selected>Choose your Size</option>
                          <% shoe[0].sizes.forEach((size)=> { %>
                            <%- include('components/indivisual-product-page/size-option', {size : size}) %>
                          <% }); %>
                          
                          
                        </select>
                        <label for="floatingSelect">Sizes</label>
                      </div>

                      <div class="input-group mb-4" role="group" aria-label="Basic example">
                        <button type="button" id="quantity-Minus" class="btn btn-outline-secondary" onmousedown="stepDown()">
                            <i class="fa-sharp fa-solid fa-minus"></i>
                        </button>
                        <div class="form-floating">
                        <input type="number" class="form-control" id="user-quantity" min="1" value="1" placeholder="Quantity">
                        <label for="user-quantity">Quantity</label>
                        </div>
                        <button type="button" id="quantity-Plus" class="btn btn-outline-secondary" onmousedown="stepUp()">
                            <i class="fa-sharp fa-solid fa-plus"></i>
                        </button>
                      </div>

                      <div class="d-grid mb-4">
                        <button class="btn btn-primary btn-lg">Add to cart <i class="fa-solid fa-cart-plus"></i></button>
                      </div>

                </form>
            </div>
        </div>
    </div>
</section>
<%- include('partials/footer') %>