<%- include('partials/header') %>
<%- include('components/nav') %>
<!-- <section>
    <div class="container">
        <div class="row">
            <%- include('components/item2') %>
            <%- include('components/item2') %>
            <%- include('components/item2') %>
            <%- include('components/item2') %>
            

            <%- include('components/item2') %>
            <%- include('components/item2') %>
            
            
        </div>
    </div>
</section> -->

<!-- experimental filter and sorting -->

<section>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="row">
                    <%- include('components/item2') %>
                    <%- include('components/item2') %>
                    <%- include('components/item2') %>
                    <%- include('components/item2') %>

                    <%- include('components/item2') %>
                    <%- include('components/item2') %>
                    <%- include('components/item2') %>
                    <%- include('components/item2') %>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>