<%- include('partials/header') %>
<%- include('components/nav') %>
<section>
    <div class="container">
        <div class="row">
            <%- include('components/item2') %>
            <%- include('components/item2') %>
            <%- include('components/item2') %>
            <%- include('components/item2') %>
            

            <%- include('components/item2') %>
            <%- include('components/item2') %>
            
            
        </div>
    </div>
</section>

<%- include('partials/footer') %>